<app-header></app-header>


<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Listado de Actividades en Casa </h1>
        </div>
    </div>




    <div class="container-fluid">

        <div class="row text-right">
            <div class="col">
                <button class="btn btn-info" routerLink="/activityprogram">
                <i class="fa fa-arrow-left"></i>
                Regresar
              </button>
            </div>
        </div>

        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        <table *ngIf="!cargando && programadas.length > 0" class="table mt-3 table-hover animated fadeIn">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Tipo de Actividad</th>
                    <th scope="col">Actividad</th>
                    <th scope="col">Fase</th>
                    <th scope="col">Instrucciones</th>
                    <th scope="col">Recursos</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of programadas| paginate: {itemsPerPage: 10, currentPage: p, totalItems: programadas.length}; let i = index">
                    <td>{{p.date |date:"dd/MM/yyyy" }}</td>
                    <td>{{p.type}}</td>
                    <td>{{p.activity}}</td>
                    <td>{{p.phase}}</td>
                    <td>{{p.instructions}}</td>
                    <td>{{p.resources}}</td>
                    <td>
                        <button class="btn btn-danger mr-1" (click)="bajaActividad( p, i )">
                      <i class="fa fa-arrow-down"></i>
                      </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div *ngIf="!cargando && programadas.length === 0" class="alert alert-warning text-center mt-3 animated fadeIn">
            <h4 class="alert-heading">No existe información</h4>
            <p>
                <i class="fa fa-exclamation fa-2x"></i>
            </p>
            <p class="mb-0">
            </p>
        </div>

        <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn">
            <h4 class="alert-heading">Cargando</h4>
            <p>
                <i class="fa fa-refresh fa-spin fa-2x"></i>
            </p>
            <p class="mb-0">
                Espere por favor
            </p>
        </div>

    </div>
</div>