<app-header></app-header>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Listado de Pacientes</h1>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col text-right">
                <button routerLink="/patient/nuevo" class="btn btn-primary">
                  <i class="fa fa-plus"></i> Agregar
                </button>
            </div>
        </div>
        <hr>
        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
        <table *ngIf="!cargando && patients.length > 0" class="table mt-3 table-hover animated fadeIn">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Expediente</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Fecha de Nacimiento</th>
                    <th scope="col">Fase</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let patient of patients| paginate: {itemsPerPage: 10, currentPage: p, totalItems: patients.length}; let i = index">
                    <th scope="row">{{patient.expedient}} </th>
                    <td>{{ patient.name }} {{patient.lastName}} {{patient.lastNameSecond}}</td>
                    <td>{{ patient.birthdate |date:"dd-MM-yyyy" }}</td>
                    <td>{{ patient.phase }}</td>
                    <td>
                        <!-- <button class="btn btn-info mr-1" [routerLink]="['/patient', patient._id ]">
                            <i class="fa fa-pencil"></i>
                        </button> -->
                        <button class="btn btn-danger mr-1" (click)="bajaPatient( patient, i )">
                            <i class="fa fa-arrow-down"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div *ngIf="!cargando && patients.length === 0" class="alert alert-warning text-center mt-3 animated fadeIn">
            <h4 class="alert-heading">No existe información</h4>
            <p>
                <i class="fa fa-exclamation fa-2x"></i>
            </p>
            <p class="mb-0">
            </p>
        </div>

        <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn">
            <h4 class="alert-heading">Cargando</h4>
            <p>
                <i class="fa fa-refresh fa-spin fa-2x"></i>
            </p>
            <p class="mb-0">
                Espere por favor
            </p>
        </div>

    </div>
</div>