<app-header></app-header>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <h1 class="page-header">Registro Diario</h1>
        <div class="col-lg-12">

            <h4><strong>Adulto: </strong>{{dr.patient.name}} {{dr.patient.lastName}} {{dr.patient.lastNameSecond}}</h4>
            <h4><strong>Fecha: </strong>{{dr.enterHour |date:"dd-MM-yyyy" }}</h4>
            <h4><strong>Hora entrada: </strong>{{dr.enterHour |date:"h:mm a" }}</h4>
            <h4 *ngIf="dr.exit"><strong>Hora salida: </strong>{{dr.exitHour |date:"h:mm a" }}</h4>
            <h4 *ngIf="!dr.exit"><strong>Hora salida: </strong><button (click)="darSalida()" type="button" class="btn btn-primary">Dar salida</button></h4>
        </div>
    </div>
    <!--/.row-->



    <div class="container-fluid">
        <div class="row text-right">
            <div *ngIf="user.role!='FAMILIAR'" class="col">
                <button class="btn btn-danger" routerLink="/dailyrecords">
                    <i class="fa fa-arrow-left"></i>
                    Regresar
                </button>
            </div>
            <div *ngIf="user.role=='FAMILIAR'" class="col">
                <button class="btn btn-danger" routerLink="/dailyrecordspatient">
                    <i class="fa fa-arrow-left"></i>
                    Regresar
                </button>
            </div>
        </div>

        <div class="row animated fadeIn faster">

            <div class="col-sm-6" *ngIf="dr.vitalSigns.length > 0">
                <h3 class="card-header">Signos Vitales</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Hora</th>
                            <th scope="col">Signo</th>
                            <th scope="col">Valor</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let vs of dr.vitalSigns">
                            <td>{{vs.date |date:"h:mm a"}}</td>
                            <td>{{vs.vitalSign}}</td>
                            <td *ngIf="!vs.valueB">{{vs.value}}</td>
                            <td *ngIf="vs.valueB">{{vs.value}}/{{vs.valueB}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-6" *ngIf="dr.hygiene.length > 0">
                <h3 class="card-header">Higiene</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Observación</th>
                            <th scope="col">Momento del día</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of dr.hygiene">
                            <td>{{c.name}}</td>
                            <td>{{c.observation}}</td>
                            <td>{{c.time}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="row animated fadeIn faster ">
            <div class="col-sm-6 " *ngIf="dr.phaseBinnacle.status">
                <h3 class="card-header ">Bitácora de Fase {{dr.patient.phase}}</h3>
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th colspan="2 ">Orientación lugar:</th>
                            <td *ngIf="dr.phaseBinnacle.orientation ">Si</td>
                            <td *ngIf="!dr.phaseBinnacle.orientation ">No</td>
                        </tr>
                        <tr>
                            <th colspan="2 ">Orientación tiempo:</th>
                            <td *ngIf="dr.phaseBinnacle.date ">Si</td>
                            <td *ngIf="!dr.phaseBinnacle.date ">No</td>
                        </tr>
                        <tr>
                            <th>Observación:</th>
                            <td colspan="2 ">{{dr.phaseBinnacle.observation}}</td>
                        </tr>
                        <tr>
                            <th>Actividad</th>
                            <th>Tipo de Actividad</th>
                            <th>Desempeño</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of dr.phaseBinnacle.activities ">
                            <td>{{p.name}}</td>
                            <td>{{p.classification}}</td>
                            <td>{{p.performance}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-sm-6 " *ngIf="dr.physioBinnacle.status">
                <h3 class="card-header ">Bitácora de Fisioterapia</h3>
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th colspan="2 ">Estado de ánimo inicial:</th>
                            <td *ngIf="dr.physioBinnacle.startMood===1 ">Negativo</td>
                            <td *ngIf="dr.physioBinnacle.startMood===2 ">Neutral</td>
                            <td *ngIf="dr.physioBinnacle.startMood===3 ">Positivo</td>
                        </tr>
                        <tr>
                            <th colspan="2 ">Estado de ánimo final:</th>
                            <td *ngIf="dr.physioBinnacle.endMood===1 ">Negativo</td>
                            <td *ngIf="dr.physioBinnacle.endMood===2 ">Neutral</td>
                            <td *ngIf="dr.physioBinnacle.endMood===3 ">Positivo</td>
                        </tr>
                        <tr>
                            <th colspan="2 ">Hora inicial:</th>
                            <td>{{dr.physioBinnacle.startTime |date:"h:mm a"}}</td>
                        </tr>
                        <tr>
                            <th colspan="2 ">Hora final:</th>
                            <td>{{dr.physioBinnacle.endTime |date:"h:mm a"}}</td>
                        </tr>
                        <tr>
                            <th>Actividad</th>
                            <th>Tipo de Actividad</th>
                            <th>Desempeño</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of dr.physioBinnacle.activities ">
                            <td>{{p.name}}</td>
                            <td>{{p.classification}}</td>
                            <td>{{p.performance}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row animated fadeIn faster">
            <div class="col-sm-6" *ngIf="dr.collation">
                <h3 class="card-header">Colación</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Desempeño</th>
                            <td>{{dr.collation}}</td>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="col-sm-6" *ngIf="dr.physicalActivation">
                <h3 class="card-header">Activación Física</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Desempeño</th>
                            <td>{{dr.physicalActivation}}</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

        <div class="row animated fadeIn faster">

            <div class="col-sm-6" *ngIf="dr.behavior.length > 0">
                <h3 class="card-header">Comportamientos</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Puntuación</th>
                            <th scope="col">Momento del día</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let b of dr.behavior">
                            <td>{{b.name}}</td>
                            <td>{{b.score}}</td>
                            <td>{{b.time}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class=" col-sm-12 " *ngIf="dr.meal">
                <h3 class="card-header ">Comida</h3>
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th>Cantidad</th>
                            <th>Tipo de Comida</th>
                            <th>Independencia</th>
                            <th>Funcional</th>
                            <th>Masticación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{dr.meal.quantity}}</td>
                            <td>{{dr.meal.foodType}}</td>
                            <td>{{dr.meal.independence}}</td>
                            <td>{{dr.meal.functional}}</td>
                            <td>{{dr.meal.chewingPerformance}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>


    </div>
</div>