<app-header></app-header>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Inicio</h1>
        </div>
    </div>
    <!--/.row-->

    <div class="container">
        <div class="col-md-12">
            <div class="panel panel-default articles">
                <div class="panel-heading">
                    Notificaciones vigentes
                </div>
            </div>
            <!--/.col-->


            <div class="row animated fadeIn faster">
                <div class="col-sm-6" *ngFor="let noti of notifications">
                    <div *ngIf="noti.high_priority" class="panel panel-danger">
                        <div class="col-xs-2 col-md-2">
                            <div class="large">{{noti.date |date:"dd"}}</div>
                            <div class="text-dark">{{noti.date |date:"MMMM"}}</div>
                        </div>
                        <div class="panel-heading">
                            <h3 class="panel-title">{{noti.patient.name}} {{noti.patient.lastName}} {{noti.patient.lastNameSecond}}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-8">
                                <h4>{{noti.type}}</h4>
                                <p>{{noti.description}}</p>
                            </div>
                            <div class="col-sm-2">
                                <div *ngFor="let a of noti.area"><span class="label label-info">{{a}}</span></div>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="!noti.high_priority" class="panel panel-info">
                        <div class="col-xs-2 col-md-2">
                            <div class="large">{{noti.date |date:"dd"}}</div>
                            <div class="text-dark">{{noti.date |date:"MMMM"}}</div>
                        </div>
                        <div class="panel-heading">
                            <h3 class="panel-title">{{noti.patient.name}} {{noti.patient.lastName}} {{noti.patient.lastNameSecond}}</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-sm-8">
                                <h4>{{noti.type}}</h4>
                                <p>{{noti.description}}</p>
                            </div>
                            <div class="col-sm-2">
                                <div *ngFor="let a of noti.area"><span class="label label-info">{{a}}</span></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>






            <div *ngIf="!cargando && notifications.length === 0" class="alert alert-warning text-center mt-3 animated fadeIn">
                <h4 class="alert-heading">No hay notificaciones pendientes</h4>
                <p>
                    <i class="fa fa-exclamation fa-2x"></i>
                </p>
                <p class="mb-0">
                </p>
            </div>

            <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn">
                <h4 class="alert-heading">Cargando</h4>
                <p>
                    <i class="fa fa-refresh fa-spin fa-2x"></i>
                </p>
                <p class="mb-0">
                    Espere por favor
                </p>
            </div>

        </div>
        <!--/.row-->
    </div>