<app-header></app-header>



<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Programa de actividades en casa</h1>
        </div>
    </div>

    <div class="container-fluid">


        <hr>

        <div class="row animated fadeIn faster">
            <div class="col">
                <form [formGroup]="forma" (ngSubmit)="guardar()" novalidate="novalidate">

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Fecha de Actividad</label>
                                <input type="date" formControlName="date" class="form-control" placeholder="Fecha de actividad">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="type">Tipo:</label>
                                <select class="form-control" formControlName="type" id="type" (change)="onChange($event.target.value)">
                          <option *ngFor="let t of types" 
                          [value]="t">{{t}}</option>
                        </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="activity">Actividad:</label>
                                <select class="form-control" formControlName="activity" id="activity">
                          <option *ngFor="let a of activities" 
                          [value]="a">{{a}}</option>
                        </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="phase">Fase:</label>
                                <select class="form-control" formControlName="phase" id="phase">
                                  <option *ngFor="let p of phases" 
                                  [value]="p">{{p}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Instrucciones de Actividad</label>
                                <input type="text" formControlName="instructions" class="form-control" placeholder="Instrucciones de actividad">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Recursos de Apoyo (URL)</label>
                                <input type="url" formControlName="resources" class="form-control" placeholder="Recursos de apoyo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary w-25">
                        <i class="fa fa-save"></i>
                      Guardar
                    </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <hr>

        <div class="row animated fadeIn faster col-sm-12">
            <h3 class="card-header">Actividades programadas para este día</h3>
            <div class="row text-right">
                <div class="col">
                    <button class="btn btn-info" routerLink="/homeactivities">
                        <i class="fa fa-sticky-note-o"></i>
                        Ver todas...
                    </button>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Tipo de Actividad</th>
                        <th scope="col">Actividad</th>
                        <th scope="col">Fase</th>
                        <th scope="col">Instrucciones</th>
                        <th scope="col">Recursos</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of programadas; let i = index">
                        <td>{{p.date |date:"dd/MM/yyyy" }}</td>
                        <td>{{p.type}}</td>
                        <td>{{p.activity}}</td>
                        <td>{{p.phase}}</td>
                        <td>{{p.instructions}}</td>
                        <td>{{p.resources}}</td>
                        <td>

                            <button class="btn btn-danger mr-1 " (click)="bajaActividad( p, i ) ">
                                <i class="fa fa-arrow-down "></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <form [formGroup]="forma" novalidate="novalidate">
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Detalle de Actividad</h4>
                        </div>
                        <div>
                            <label>Instrucciones de Actividad</label>
                            <p></p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-dismiss="modal">Aceptar</button>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>