<app-header></app-header>

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Valoraciones cuidadores</h1>
        </div>
    </div>

    <div class="container-fluid">

        <hr>

        <div class="row animated fadeIn faster">
            <div class="col">
                <form [formGroup]="forma" (ngSubmit)="guardar()" novalidate="novalidate">

                    <div class="row text-center">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="numPeriod">Mes de realización:</label>
                                <select class="form-control" formControlName="numPeriod" id="numPeriod">
                              <option value=1> Enero </option>
                              <option value=2> Febrero </option>
                              <option value=3> Marzo </option>
                              <option value=4> Abril </option>
                              <option value=5> Mayo </option>
                              <option value=6> Junio </option>
                              <option value=7> Julio </option>
                              <option value=8> Agosto </option>
                              <option value=9> Septiembre </option>
                              <option value=10> Octubre </option>
                              <option value=11> Noviembre </option>
                              <option value=12> Diciembre </option>
                            </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Año:</label>
                                <h4>{{anio}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-primary w-25">
                            <i class="fa fa-save"></i>
                          Agregar
                        </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>

        <div class="row animated fadeIn faster col-sm-12">
            <h3 class="card-header">Valoraciones programadas</h3>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Año</th>
                        <th scope="col">Mes de realización</th>
                        <th scope="col">Estatus</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let v of valorations">
                        <td>{{v.year }}</td>
                        <td>{{v.period }}</td>
                        <td *ngIf="v.status">Activo</td>
                        <td *ngIf="!v.status">Inactivo</td>
                        <td>
                            <button class="btn btn-info mr-1" [routerLink]="['/valorationsdetail', v._id ]">
                                      <i class="fa fa-book"></i>
                                  </button>
                            <button *ngIf="v.status" class="btn btn-danger mr-1 " (click)="cambiaStatus( v ) ">
                                      <i class="fa fa-arrow-down "></i>
                                  </button>
                            <button *ngIf="!v.status" class="btn btn-info mr-1 " (click)="cambiaStatus( v ) ">
                                    <i class="fa fa-arrow-up "></i>
                                </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


    </div>
</div>