<app-header></app-header>



<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Bitácora del Adulto</h1>
            <!-- <h2>{{caregiver.patient.name}} {{caregiver.patient.lastName}} {{caregiver.patient.lastNameSecond}}</h2> -->
        </div>
    </div>

    <div class="container-fluid">

        <div class="row animated fadeIn faster">
            <div class="col">
                <button class="btn btn-info" routerLink="/binnaclesactivitypatient/{{patient._id}}">
                  <i class="fa fa-list"></i>
                  Ver Historial actividades evaluadas
                </button>
            </div>
            <h3 class="card-header">Actividades programadas </h3>
            <div class="col">
                <table class="table mt-3 table-hover animated fadeIn">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Fecha</th>
                            <th scope="col">Tipo de Actividad</th>
                            <th scope="col">Actividad</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of programadas; let i = index">
                            <td>{{p.date |date:"dd/MM/yyyy" }}</td>
                            <td>{{p.type}}</td>
                            <td>{{p.activity}}</td>
                            <td>

                                <button class="btn btn-info mr-1 " (click)="evaluarBitacora( p, i ) ">
                                  <i class="fa fa-edit "> Evaluar</i>
                              </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <br>

    </div>
</div>