<app-header></app-header>


<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Valoración Psicológica </h1>
            <h3><strong>Nombre: </strong> {{caregiver.name}} {{caregiver.lastName}} {{caregiver.lastNameSecond}}</h3>
            <br>
        </div>
    </div>


    <div class="container-fluid">

        <div class="row animated fadeIn faster">
            <div class="col-sm-6">

                <form [formGroup]="forma" (ngSubmit)="guardar()" novalidate="novalidate">


                    <div class="row">
                        <div class="col-sm-10">
                            <div class="form-group">
                                <label for="type">Periodo Activo:</label>
                                <select class="form-control" formControlName="valoration" id="valoration" (change)="onChange($event.target.value)">
                                <option *ngFor="let v of valorations" 
                                [value]="v._id">{{v.period}} - {{v.year}}</option>
                            </select>
                            </div>
                        </div>


                        <table *ngIf="!cargando && mostrar" class="table mt-3 table-hover animated fadeIn">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Instrumento</th>
                                    <th scope="col">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let e of escalas">
                                    <td>{{ e.scaleType }}</td>
                                    <td>{{ e.alias}}</td>
                                    <td>
                                        <button class="btn btn-info mr-1" (click)="contestarEscala( e )">
                                            <i class="fa fa-edit">Contestar</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <!-- <button class="btn btn-info mr-1" [routerLink]="['/selfdiagnosis']">
                <i class="fa fa-plus"> Nuevo</i>
            </button> -->
                    </div>


                </form>


            </div>
        </div>